.nftcard-solddisplay_button {
    background-color: white;
    color: rgb(155, 9, 9);
    opacity: 0.9;
}
.nftcard-auctiondisplay_button {
    font-size: 11px;
}
.nftcard-availdisplay_button {
     background-color: white;
    color: rgb(66, 230, 66);
    opacity: 0.9;
}

.bids-card_img{
  border-radius: 10px;
}

a.hero-image-container {
    position: relative;
    display: block;
}

.hero-image-container::after {
    content: '';
    background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-color: hsla(178, 100%, 50%, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.hero-image-container:hover::after {
  opacity: 1;
}

.card-attribute {
    padding-top: 5px;
    padding-bottom: 0.5em;
    border-top: 2px solid var(--var-line-dark);
    display: flex;
    align-items: center;
}

.small-avatar {
    width: 2.5em;
    border-radius: 200px;
    outline: 2px solid white;
    margin-right: 2px;
}

.main-content_p {
  margin-bottom: 3px;
  font-size: 14px;
  color: #1a1818;
  font-weight: bold;
  padding-left: 20px;
}

.small-image {
    width: 1.2em;
    height: 1.5em;
    margin-right: .5em;
}