@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto")

$color: rgba(255, 80, 80, 1)
$colorSecondary: #ff6100

@keyframes btn
  0%, 100%
    transform: scale(1)
  80%
    transform: scale(1.04)
  90%
    transform: scale(0.96)

@keyframes fish
  0%, 70%
    opacity: 0
  100%
    opacity: 1

html
  height: 100%

body
  font-family: Roboto, sans-serif
  color: #515a6e
  background-color: #d5eafc
  height: 100%
  margin: 0
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center

a
  cursor: pointer
  color: #000
  text-decoration: none
  transition: all 0.3s

  &:hover
    color: $color

.fish,
.fish-shadow
  width: 640px
  position: absolute
  top: -145px
  left: -177px
  animation: fish 3s forwards ease-in-out

  path
    fill: #fff

    &:hover
      fill: $colorSecondary

.fish-shadow-con
  opacity: 0.2
  filter: blur(10px)
  position: absolute

.fish-shadow
  top: -125px
  left: -157px
  opacity: 0.4

  path
    fill: #211922

.container
  position: relative
  background-color: #fafafe
  border-radius: 10px
  margin: 40px
  padding: 25px 20px 10px
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
  width: 320px
  box-sizing: border-box

.card
  position: relative
  z-index: 2

.card_title
  font-size: 24px
  margin: 0

.card_title-info
  font-size: 14px
  margin: 7px 0 10px

.card_button
  border-radius: 4px
  border: none
  width: 100%
  padding: 0 15px
  font-size: 18px
  line-height: 36px
  margin: 25px 0 10px
  color: #fff
  background: linear-gradient($colorSecondary, $color)
  box-shadow: 0 2px 12px -3px $color
  animation: btn 6s 3s infinite ease-in-out
  opacity: 0.9
  transition: all 0.3s

  &:hover
    opacity: 1

.input
  display: flex
  flex-direction: column-reverse
  position: relative
  padding-top: 10px

  & + .input
    margin-top: 10px

.input_label
  color: #8597a3
  position: absolute
  top: 20px
  transition: all 0.3s

.input_field
  border: 0
  background-color: transparent
  border-bottom: 2px solid #eee
  font-size: 14px
  line-height: 30px

  &:focus,
  &:valid
    outline: 0
    border-bottom-color: #665856

    & + .input_label
      transform: translateY(-25px)

.input_eye
  position: absolute
  bottom: 0
  right: 0
  width: 36px
  height: 30px
  display: flex
  align-items: center
  justify-content: center

  svg
    width: 24px
    stroke: #8597a3

.link
  position: absolute
  bottom: 20px
  right: 20px
  z-index: 3

.rabbit
  width: 50px
  height: 50px
  fill: #fff
